:root{
  --pp-primary:#fffffe;
  --pp-secondary:#72757e;
  --pp-terciary:#2cb67d;
  --pp-accent:#7f5af0;
  --pp-font-head:#fffffe;
  --pp-font-sub:#94a1b2;
  --pp-font-primary:#fffffe;
  --pp-font-secondary:#72757e;
  --pp-font-terciary:#2cb67d;
  --pp-font-accent:#6344be;
  --pp-font-background:#16161a;
  --pp-background:#16161a;
  --pp-button:#7f5af0;

}
.pp-primary{
    background-color: var(--pp-primary);
}
.pp-background{
    background-color: var(--pp-background);
}
.pp-secondary{
    background-color: var(--pp-secondary);
}
.pp-terciary{
    background-color: var(--pp-terciary);
}
.pp-accent{
    background-color: var(--pp-accent);
}
.pp-font-head{
    color: var(--pp-font-head);
}
.pp-font-sub{
    color: var(--pp-font-sub);
}
.pp-font-primary{
    color: var(--pp-font-primary);
}
.pp-font-secondary{
    color: var(--pp-font-secondary);

}
.pp-font-terciary{
    color: var(--pp-font-terciary);

}
.pp-font-accent{
    color: var(--pp-font-accent);

}
.pp-font-background{
    color: var(--pp-font-background);

}
pp-button{
    background-color: var(--pp-button);
}


body{
    background-color:var(--pp-background)
}

#hero-section{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border:  3px solid var(pp-accent)
    
}



.centrar-hor{

    margin : 0 auto;
    text-align: center;
}

